/*** Header Comienzo ***/
.wrapper-header {
    width:82.5%;
	margin: 0 auto 0 auto;
}
.tableHeader {
	width:100%;
	border:0em;
	text-decoration:none;
	margin: 0 auto 0 auto;
	height: 11.375em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

@media screen and (max-width: 600px) {
	.wrapper-header { width:85%; }
	.tableHeader { height: 0em; display: none; }
}

@media screen and (max-device-width: 480px) {
    .wrapper-header { width:85%; }
    .tableHeader { height: 0em; display: none; }
}

.wrapper-user-menu {
    width:82.5%;
    background:url(../images/menu-bg.png);
    border-radius: 0.3125em;
    margin: 0 auto 0 auto;
}

.wrapper-user-menu li{
    text-decoration: none;
    display:inline-block;
}
/*** Header Final ***/
