{% extends 'TemplateBundle::template.html.twig' %}

{% block title %}Alta de agencias{% endblock %}

{% block js %}
{% endblock %}

{% block content %}

<form action="{{ path('insertAgenciasSuccess') }}" method="post" {{ form_enctype(form) }}>

    <table class="resp">
        <tr><th colspan="2"><h3>Alta de agencias</h3></th></tr>
                {% for form in form %}
        <tr style="height:32px;"><td>{{ form_label(form) }}</td><td>{{ form_widget(form) }}</td></tr>
                {% endfor %}
    </table>

    <hr>

    Los campos marcados con un asterisco <span id="required">(*)</span> son obligatorios. <br>  
    <input type="submit" value="aceptar"/>
    <input type="reset" value="cancelar"/>
</form>
{% endblock %}
